<!Doctype html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
       
        <title><%=title%></title>
    </head>
    <body>

        <h2> Member Details </h2>
       
        <table>

            <table class="mytable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email ID </th>
                        <th>Password</th>
                        <th>Aadhar No.</th>
                        <th>Location</th>
                        <th>Address</th>
                        <th>PIN Code</th>
                        <th>Contact Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% if(memberData.length> 0 )
                {
                    memberData.forEach(function (data){
                                        %>      
                                                <td><%=data.name%> </td>
                                                <td><%=data.email%> </td>
                                                <td><%=data.password%> </td>
                                                <td><%=data.govtid%> </td>
                                                <td><%=data.location%> </td>
                                                <td><%=data.address%> </td>
                                                <td><%=data.pincode%> </td>
                                                <td><%=data.contact%> </td>

                        <% }) } %>
                    </tr>
                    </tbody>
                    </table>
                    <br>
                
                    <center>
                      
                        <h3>Posted Advertisements</h3>


                        <div class="box">


                
                            <% if(adData.length> 0 )
                                {
                                adData.forEach(function (data){
                                %>
                                
                                    <% var imgUrl = "/media/"+data._id+"."+data.image%>
                                    <div class="boximg">

                                        <img style="width:200px;height:200px; " src=<%=imgUrl%>><br>
                                        <p> <%= data.title %></p><br> 
                                        <a>Price : </a>
                                            <%= data.price %><br>
                                            <a>Description :  </a>
                                            <%=data.description%><br>
                                        <a>Posted On :  </a>
                                            <%=data.createdDateTime%><br><br>
                                       

                   

                                        
                                        <button class="buttonK" id="add" onclick="window.location.href = '/admin/viewaddet/<%=data._id%>';">
                                            Request for Details
                                         </button>
                                        
                                    
                                    </div> 
                                <% 
                             }) 
                               }
                            %>
                            </div>
                 
         
        </body>
        <style>
      
            * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
                  
                  html { width: 100%; height:100%; overflow:hidden; }
                  
                  body { 
                    width: 100%;
                    height:100%;
                    font-family: 'calibri';
                    background-color: rgb(155, 191, 202);
                   
                  }
          
              h2 {
                  width: 99%;
              
                  text-align: center;
                  color:white;
                  text-shadow: darkgray 2px 1px;
                  height: 50px;
                  padding-top: 1%;
                  margin: 0px 0px 0px 0px;
                  font-family: 'calibri';
                  font-size: 26px;
          
              }


              
              
               .box div{

                  padding: 10px;
                  margin-top : 10px
              }

              .boximg {
            float: left;
            width: 25%;
            padding: 5px;
            }
            .boximg p{
                font-weight: bold;

                text-shadow: rgb(156, 154, 154) 2px 2px;
            }
            .boximg a{
                font-weight: bold;

            }
               h3 {
                  width: auto;
                  font-weight: bold;
                  font-size: x-large;
                  text-shadow: darkgray 2px 1px;    
                  text-align: center;
                  color:white;
                  height: 50px;
                  padding-top: 1.5%;
                  margin-right: 30px;
                  
                  margin: 0px 0px 0px 0px;
                  font-family: 'calibri';
          
              }
                  .mytable {
                  border-collapse: collapse;
                  width: 99%;
                  table-layout: fixed;
              }
         
           
             
              td {
              border: 1px solid rgb(93, 152, 168);
              height: 40px;
              text-align: center;
              font-family: 'calibri';
          }
              button{
                background-color: rgb(11, 90, 81);
                color: white;
              
                font-weight: bold;
                font-family: 'Times New Roman', Times, serif;
                height: 40px;
                border: none;
              
            }
            .buttonK{
                
                color: black;
                box-shadow: gray 2px 2px;
                font-weight: bold;
                font-family: 'calibri';
                height: 30px;
                border: none;
                background-color: white;
              
            }
          
            
            th {
              border:none;
              height: 40px;
              background-color:rgb(93, 152, 168);
          }
              tbody tr {
                  background-color: #f2f2f2;
                  padding: 10%
              }
              .table2 th{
                  width: 200px;
                  background-color: rgb(164, 221, 50);
              }
              .table2
              {
                  width: 70%;
               
              }
                
              

                  .member {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        background-color: bisque;
        text-align: center;
        border : darkblue
    }     
                .a{
                    padding: 10px;
                    background-color: rgb(133, 7, 7);
                    color: white;
                    text-shadow: 2px 2px gray;
                }
          
          </style>
    </html>

        </table>

       </body>

</html> 
