<!Doctype html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Guest Ad list Page</title>
    </head>
    <body >
        <!-- <h1> AdManager</h1> -->
        

        <h1>Advertisement Dashboard</h1>

        <div class="box">

        <h2>Advertisement Dashboard</h2>
           <div class="box">

                
            <% if(taskData.length> 0 )
                {
                taskData.forEach(function (data){
                %>
                
                    <% var imgUrl = "/media/"+data._id+"."+data.image%>
                    <div class="boximg">

                        <img style="width:200px;height:200px; " src=<%=imgUrl%>><br>
                        <p> <%= data.title %></p><br> 
                        <a>Price : </a>
                            <%= data.price %><br>
                        <a>Posted On :  </a>
                            <%=data.createdDateTime%><br><br>

                        <img style="width:200px;height:200px; border:4px solid rgb(188, 245, 124);" src=<%=imgUrl%>><br>
                        <p> <%= data.title %></p><br> 
                        Price : <%= data.price %><br>
                        Posted On :  <%=data.createdDateTime%><br><br>

                        
                        <button class="buttonK" id="add" onclick="window.location.href = '/admin/viewaddet/<%=data._id%>';">
                            Request for Details
                         </button>
                        
                    
                    </div> 
                <% 
             }) 
               }
            %>
            </div>

        
        <br>

        
     
    </body>
    <style>
  
        * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
              
              html { width: 100%; height:100%; overflow:hidden; }
              
              body { 
                width: 100%;
                height:100%;
                font-family: 'calibri';
                background: rgb(209, 183, 38);
                background:  rgb(212, 194, 230);
                
               
              }
          h1 {
              width: 99%;
              text-shadow: darkgray 2px 3px;
              text-align: center;
              color: white;
              height: 20%;
              margin: 0px 0px 0px 0px;
              padding-top: 2%;
             font-size: 37px;
              font-family: 'calibri';
         
      
          }
       
          .box{
              border-style: white 2px 2px;
          }
      


            .boximg {
            float: left;
            width: 25%;
            padding: 5px;
            }
            .boximg p{
                font-weight: bold;

                text-shadow: darkgray 2px 1px;
                font-size: medium;
            }
          .boximg a{
              font-weight: bold;
          }

            }

          td {
              border: 1px solid black;
              height: 40px;
              text-align: center;
              font-family: 'Times New Roman', Times, serif;
          }
          .box{
            padding-top: 2%;
          }
       
          
        
        .buttonK{

            
            color: rgb(90, 11, 11);
            background-color: white;
            border: none;
            box-shadow: rgb(102, 100, 102) 2px 1px;
            text-align: center;
            font-weight: bold;
            font-family: 'calibri';
            height: 30px;
          
          
        }
       
          

            background-color: rgb(90, 11, 11);
            color: white;
     
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            height: 30px;
            border: none;
          
        }
        .buttonU{
            background-color: rgb(163, 142, 23);
            color: white;
            text-shadow: gray 2px 2px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            height: 30px;
            border: none;
          
        }
       .buttonD{
            background-color: rgb(45, 134, 156);
            color: white;
            text-shadow: gray 2px 2px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            height: 30px;
            border: none;
          
        }
          

      
            
        
      </style>
</html>
