<!Doctype html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Guest Ad list Page</title>
    </head>
    <body>
        <h1> AdManager</h1>
        
        <h2>Advertisement Dashboard</h2>
        <center>
        <table class="mytable">
            <thead>
                <tr>
                    <th>Ad Title </th>
                    <th>Posted On</th>
                    
                    <th >Actions</th>
                </tr>
            </thead>
            <tbody>
                <%
                    adData.forEach(function (dt){
                        %>
                        <tr>
                            <td><%=dt.title%></td>
                            <td>
                            <%=dt.createdDateTime %>
                            </td>
                            <td>
                                <!-- <a href="/member/viewaddet/<%=dt._id%>"> View Details </a> 
                            
                          
                         
                                <a href="/member/delads/<%=dt._id%>"> Delete Ad </a> <br> -->

                                <button class="buttonK" id="add" onclick="window.location.href = '/guest/viewaddet/<%=dt._id%>';">
                                    View Details
                                 </button>
                                 
                            </td>
                               
                            
                        </tr>
                        <%
                    })
              
                %>
            </tbody>
        </table>
        </center>
        <br>
        
        <button class="button" id="logout" style="margin-top: 200px;" onclick="window.location.href = '/guest/';">
            Home       </button>
    </body>
    <style>
  
        * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
              
              html { width: 100%; height:100%; overflow:hidden; }
              
              body { 
                width: 100%;
                height:100%;
                font-family: 'calibri';
                background-color:rgb(155, 191, 202) ;
               
              }
          h1 {
              width: 99%;
         
              text-align: center;
              color: white;
              height: 70px;
              margin: 0px 0px 0px 0px;
              padding-top: 2%;
              text-shadow: gray 2px 2px;
              font-family: 'calibri';
      
          }
          h2 {
              width: 99%;
            
              text-align: center;
              color:rgb(74, 121, 134) ;
              height: 50px;
              padding-top: 1%;
              margin-top: 20px;
              font-family: 'calibri';
              text-shadow: darkgray 2px 1px;
      
          }
      
          .mytable {
              border-collapse: collapse;
              width: 60%;
              table-layout: fixed;
          }
      
          
          td {
              border: 1px solid rgb(93, 152, 168);
              height: 40px;
              text-align: center;
              font-family: 'calibri';
          }
          button{
            
            color: black;
            box-shadow: gray 2px 2px;
            font-weight: bold;
            font-family: 'calibri';
            height: 40px;
        
            width: 100px;
          
        }
        .buttonK{
            background-color: rgb(90, 11, 11);
            color: white;
            
            font-weight: bold;
            font-family: 'calibri';
            height: 30px;
            border: none;
          
        }
        .buttonU{
            background-color: rgb(163, 142, 23);
            color: white;
            text-shadow: gray 2px 2px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            height: 30px;
            border: none;
          
        }
       .buttonD{
            background-color: rgb(45, 134, 156);
            color: white;
            text-shadow: gray 2px 2px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            height: 30px;
            border: none;
          
        }
          
        th {
              border:none;
              height: 40px;
              background-color:rgb(93, 152, 168);
          }
          tbody tr {
              background-color: #f2f2f2;
              padding: 10%
          }
            
          b{
            padding: 10px;
                background-color: darkblue;
                color: white;
                text-shadow: 2px 2px gray;
          }
            .a{
                padding: 10px;
                background-color: rgb(133, 7, 7);
                color: white;
                text-shadow: 2px 2px gray;
            }
      
      </style>
</html>