<!Doctype html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Member Ad list Page</title>
    </head>
    <body>
        <h1> Your Posts in AdManager</h1>
        
        <h2>Advertisement Management Dashboard</h2>
        <table class="mytable">
            <thead>
                <tr>
                    <th>Product Image</th>
                    <th>Product Image Name</th>
                    <th>Title </th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Posted On</th>
                    
                    <th >Actions</th>
                </tr>
            </thead>
            <tbody>
                <%
                    adData.forEach(function (dt){
                        %>
                        <tr>
                            <% var imageUrl = "/media/"+dt._id+"."+dt.image %>
                            <td>  <img style="width:150px;height:150px;" src=<%= imageUrl %>> </td>
                            <td style="font-size: small;">
                                <%=dt._id %>.<%=dt.image%> 
                            </td>
                            <td><%=dt.title%></td>
                            <td><%=dt.price%></td>
                            <td><%=dt.description%></td>
                            <td>
                            <%=dt.createdDateTime %>
                            </td>
                            <td>
                                <!-- <a href="/member/viewaddet/<%=dt._id%>"> View Details </a> 
                            
                          
                         
                                <a href="/member/delads/<%=dt._id%>"> Delete Ad </a> <br> -->

                        
                                 <button class="buttonU" id="add" style="margin-left: 20px;" onclick="window.location.href = '/member/updateadview/<%=dt._id%>';">
                                    Update Ad Details
                                 </button><br><br>
                                 <button class="buttonD" id="add" style="margin-left: 20px;" onclick="window.location.href = '/member/imgreupload/<%=dt._id%>';">
                                    Update Ad Image
                                 </button><br><br>
                                <button class="buttonK" id="add" style="margin-left: 20px;" onclick="window.location.href = '/member/delads/<%=dt._id%>';">
                                   Delete 
                                </button>
                            </td>
                               
                            
                        </tr>
                        <%
                    })
              
                %>
            </tbody>
        </table>
        <br><br><br><br><br><br>
        <button class="button" id="add" onclick="window.location.href = '/member/newad';">
            Create New Ad Post
        </button>
        <button class="button" id="view" onclick="window.location.href = '/member/clearad/:id';">
            Delete All Ad Posts
        </button>
        <button class="button" id="logout"  onclick="window.location.href = '/member/';">
            Member Home 
        </button>
    </body>
    <style>
  
        * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
              
              html { width: 100%; height:100%; overflow:hidden; }
              
              body { 
                width: 100%;
                height:100%;
                font-family: 'calibri';
                background:  rgb(212, 194, 230)
               
              }
          h1 {
              width: 99%;
            
              text-align: center;
              color: white;
              height: 70px;
              margin: 0px 0px 0px 0px;
              padding-top: 1%;
              text-shadow: gray 2px 2px;
              font-family: 'calibri';
      
          }
          h2 {
              width: 99%;
              
              text-align: center;
              color:rgb(133, 114, 151);
              text-shadow: darkgray 2px 2px;
              height: 50px;
              padding-top: 1%;
              margin: 0px 0px 0px 0px;
              font-family: 'calibri';
              
      
          }
      
          .mytable {
              border-collapse: collapse;
              width: 99%;
              table-layout: fixed;
          }
      
          
          td {
              border: 1px solid rgb(165, 145, 185);
              height: 20px;
              text-align: center;
              font-family: 'calibri';
          }
          button{
        
        color: black;
      box-shadow: rgb(119, 117, 117) 2px 2px;
        font-weight: bold;
        font-family: 'calibri';
        height: 40px;
        border: none;
       
      
    }
        .buttonK{
            color: rgb(90, 11, 11);
            background-color: rgb(182, 178, 178);
           
            font-weight: bold;
            font-family: 'calibri';
            height: 30px;
            border: none;
            width: 140px;
            font-size: medium;
          
        }
        .buttonU{
            color: rgb(136, 118, 14);
            background-color: rgb(182, 178, 178);
           
        
            font-weight: bold;
            font-family:'calibri';
            height: 30px;
            border: none;
            width: 140px;
            font-size: medium;
          
        }
       .buttonD{
            color: rgb(45, 134, 156);
            background-color: rgb(182, 178, 178);
           
            font-weight: bold;
            font-family:'calibri';
            height: 30px;
            border: none;
            width: 140px;
            font-size: 15px;
          
        }
          
        th {
                  border: 1px solid rgb(165, 145, 185);
                  height: 40px;
                  background-color: rgb(157, 136, 179);
              }
          tbody tr {
              background-color: #f2f2f2;
              padding: 10%
          }
            
          b{
            padding: 10px;
                background-color: darkblue;
                color: white;
                text-shadow: 2px 2px gray;
          }
            .a{
                padding: 10px;
                background-color: rgb(133, 7, 7);
                color: white;
                text-shadow: 2px 2px gray;
            }
      
      </style>
</html>
